:root {
    --navy-blue-color: #2e2f42;
    --iris-color: #4d5ae5;
    --ocean-color: #404bbf;
    --slate-color: #434455;
    --white-color: #ffffff;
    --cloud-color: #f4f4fd;
    --cornflower-color: #e7e9fc;
    --grey-color: #2e2f42b2;
    --light-slate-color: #8e8f99;
    --green-color: #31d0aa;
    --navy-blue-modal: #2e2f4266;
    --modal-background: #fcfcfc;
    --second-heading-size: 36px;
    --second-heading-weight: 700;
    --third-heading-size: 20px;
    --third-heading-weight: 500;
}

/* globals */

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--white-color);
    color: var(--slate-color);
    margin: 0 auto;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
    font-style: normal;
}

.page-header {
    border-bottom: 1px solid var(--cornflower-color, #e7e9fc);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.logo {
    color: var(--iris-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}

.footer-logo {
    color: var(--cloud-color);
}

.part-logo {
    color: var(--navy-blue-color);
}

/* mobile styles */

@media screen and (min-width: 320px) {
    .container {
        width: 428px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .section {
        padding: 96px 0;
    }

    .page-navigation {
        display: none;
    }

    .address-list {
        display: none;
    }

    .menu-toggle {
        background-color: var(--white-color);
    }

    .menu-hamburger {
        stroke: var(--navy-blue-color);
    }

    .menu-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        padding: 80px 40px;
        background-color: var(--white-color);
        z-index: 999;
        transform: translateX(100%);
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-container.is-open {
        transform: translateX(0);
    }

    .menu-container .menu-toggle {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 24px;
        height: 24px;
        top: 24px;
        right: 24px;
        border: 1px solid var(--cornflower-color);
        border-radius: 50%;
        background-color: var(--white-color);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-close {
        fill: currentColor;
    }

    .menu-container .menu-toggle:hover,
    .menu-container .menu-toggle:focus {
        background-color: var(--ocean-color);
        color: var(--white-color);
        border: none;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
    }

    .mobile-page-navigation {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 284px;
    }

    .page-link {
        color: var(--navy-blue-color);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .page-link:hover,
    .page-link:focus {
        color: var(--ocean-color);
    }

    .page-link-studio {
        color: var(--ocean-color);
    }

    .page-link-portfolio {
        color: var(--ocean-color);
    }

    .mobile-address-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 48px;
    }

    .mobile-phone {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        color: var(--iris-color);
    }

    .mobile-email {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
        color: var(--slate-color);
        font-style: none;
    }

    .mobile-social-media {
        display: flex;
        gap: 56px;
    }

    .mobile-social-media-list {
        height: 40px;
        width: 40px;
    }

    .mobile-socialmedia-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--iris-color);
        border-radius: 50%;
        width: 100%;
        height: 100%;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-svg {
        fill: var(--cloud-color);
    }

    .mobile-socialmedia-icon:hover,
    .mobile-socialmedia-icon:focus {
        background-color: var(--green-color);
    }

    .footer-section {
        background-color: var(--navy-blue-color);
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-note-box {
        margin-bottom: 72px;
        display: flex;
        flex-direction: column;
    }

    .footer-link {
        margin: 0 auto 16px auto;
    }

    .footer-note {
        color: var(--cloud-color);
        line-height: 1.5;
        letter-spacing: 0.32px;
        max-width: 268px;
    }

    .social-media-heading {
        color: var(--white-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
        text-align: center;
    }

    .footer-social-media {
        display: flex;
        gap: 16px;
        margin-bottom: 72px;
    }

    .footer-social-media-list {
        height: 40px;
        width: 40px;
    }

    .footer-socialmedia-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--iris-color);
        border-radius: 50%;
        width: 100%;
        height: 100%;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-svg {
        fill: var(--cloud-color);
    }

    .footer-socialmedia-icon:hover,
    .footer-socialmedia-icon:focus {
        background-color: var(--green-color);
    }

    .subscribe-title {
        color: var(--white-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
        text-align: center;
    }

    .subscribe-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .subscribe-input {
        width: 398px;
        height: 40px;
        border: 1px solid var(--white-color);
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        padding-left: 16px;
        background-color: transparent;
        color: var(--white-color);
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
    }

    .subscribe-input::placeholder {
        color: var(--white-color);
    }

   .subscribe-button {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 165px;
        height: 40px;
        border-radius: 4px;
        background-color: var(--iris-color);
        color: var(--white-color);
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        border: none;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .send-icon {
        fill: var(--white-color);
        margin-left: 16px;
    }

    .subscribe-button:hover,
    .subscribe-button:focus {
        background-color: var(--ocean-color);
    }

    .order-section {
        background-color: var(--navy-blue-color);
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/people-office@1x.jpg");
        width: 100%;
        height: 432px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
        padding: 112px 0;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .order-section {
            background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office@2x.jpg);
        }
    }

    .main-header {
        color: var(--white-color);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        max-width: 350px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 72px;
    }

    .order-button {
        font-family: "Roboto", sans-serif;
        background-color: var(--iris-color);
        color: var(--white-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding: 16px 32px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        display: block;
        min-width: 169px;
        margin: 0 auto;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .order-button:hover,
    .order-button:focus {
        background-color: var(--ocean-color);
    }

    .backdrop {
        position: fixed;
        inset: 0 0 auto;
        min-height: 100vh;
        background-color: var(--navy-blue-modal);
        opacity: 1;
        pointer-events: all;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        background-color: var(--modal-background);
        width: 408px;
        min-height: 584px;
        border-radius: 4px;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
            0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
    }

    .close-button {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 24px;
        right: 24px;
        padding: 0;
        background-color: var(--cornflower-color);
        border-radius: 50%;
        width: 24px;
        height: 24px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: var(--navy-blue-color);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .close-button-icon {
        fill: currentColor;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .close-button:hover,
    .close-button:focus {
        background-color: var(--ocean-color);
        color: var(--white-color);
        border: none;
    }

    .modal-paragraph {
        color: var(--navy-blue-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 16px;
    }

    .modal-form {
        display: flex;
        flex-direction: column;
    }

    .field-wrapper {
        margin-bottom: 8px;
    }

    .modal-label {
        color: var(--light-slate-color);
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        display: block;
        margin-bottom: 4px;
    }

    .input-wrapper {
        position: relative;
    }

    .modal-input {
        outline: transparent;
        border-radius: 4px;
        border: 1px solid var(--navy-blue-modal);
        background-color: transparent;
        width: 100%;
        height: 40px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding-left: 38px;
    }

    .modal-input:focus {
        border-color: var(--iris-color);
    }

    .modal-input:focus+.field-icon {
        fill: var(--iris-color);
    }

    .field-icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translatey(-50%);
        fill: var(--navy-blue-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .field-icon:focus {
        fill: var(--iris-color);
    }

    .comment-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        color: var(--light-slate-color);
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.48px;
    }

    .modal-input-comments {
        width: 100%;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--navy-blue-modal);
        border: 1px solid var(--navy-blue-modal);
        border-radius: 4px;
        background-color: transparent;
        resize: none;
        padding: 8px 16px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-input-comments:focus {
        border-color: var(--iris-color);
    }

    .visually-hidden {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }

    .privacy-wrapper {
        margin-bottom: 24px;
    }

    .privacy-input:checked+.privacy span {
        background-color: var(--iris-color);
        fill: var(--cloud-color);
        border: none;
    }

    .privacy-label {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--light-slate-color);
    }

    .checkbox-span {
        margin-right: 8px;
        display: inline-flex;
        width: 16px;
        height: 16px;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        border: 1px solid var(--navy-blue-modal);
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .privacy-link {
        color: var(--iris-color);
    }

    .privacy-input:checked+.privacy-label span {
        background-color: var(--ocean-color);
        fill: var(--cloud-color);
        border: none;
    }

    .modal-send-button {
        min-width: 169px;
        display: block;
        margin: auto;
        padding: 16px 32px;
        background-color: var(--iris-color);
        border-radius: 4px;
        color: var(--white-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
    }

    .modal-send-button:hover,
    .modal-send-button:focus {
        background-color: var(--ocean-color);
    }

    .services-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 72px;
    }

    .services-item {
        display: block;
    }

    .services-icon-box {
        display: none;
    }

    .small-header-services {
        color: var(--navy-blue-color);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-align: center;
        margin-bottom: 8px;
    }

    .services-description {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate-color);
    }

    .third-section {
        display: none;
    }

    .section-header {
        color: var(--navy-blue-color);
        font-size: var(--second-heading-size);
        font-weight: var(--second-heading-weight);
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 72px;
    }

    .team-section {
        background-color: var(--cloud-color);
    }

    .team-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 72px;
    }

    .team-tile {
        background-color: var(--white-color);
        width: 264px;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }

    .team-description {
        padding: 32px 0;
        margin: 0 16px;
        gap: 8px;
    }

    .team-header {
        text-align: center;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--navy-blue-color);
        font-size: var(--third-heading-size);
        font-weight: var(--third-heading-weight);
        margin-bottom: 8px;
    }

    .job-title {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
        text-align: center;
        margin-bottom: 8px;
    }

    .social-media {
        display: flex;
        gap: 24px;
        justify-content: center;
    }

    .social-media-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }

    .social-media-icon-link {
        width: 100%;
        height: 100%;
        background-color: var(--iris-color);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-media-icon-link:hover,
    .social-media-icon-link:focus {
        background-color: var(--ocean-color);
    }

    .icon-style {
        fill: var(--cloud-color);
    }

    .clients-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 16px;
        row-gap: 72px;
        flex-basis: calc((100% - 16px) / 2);
    }

    .client-icon-box {
        width: 190px;
        height: 88px;
    }

    .client-icon {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--light-slate-color);
        border-radius: 4px;
        color: var(--light-slate-color);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .client-icon-svg {
        fill: currentColor;
    }

    .client-icon:hover,
    .client-icon:focus {
        border-color: var(--ocean-color);
        color: var(--ocean-color);
    }

    .portfolio-main-section {
        padding: 48px 0;
    }

    .filter-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 24px;
        margin-bottom: 48px;
    }

    .filter-button {
        font-family: "Roboto", sans-serif;
        background-color: var(--cloud-color);
        border: 1px solid var(--cornflower-color);
        color: var(--iris-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding: 12px 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .filter-button:hover,
    .filter-button:focus {
        background-color: var(--ocean-color);
        border: 1px solid transparent;
        color: var(--white-color);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
            0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    }

    .portfolio-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .portfolio-item {
        max-width: 396px;
    }

    .portfolio-link {
        display: block;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-link:hover,
    .portfolio-link:focus {
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }

    .portfolio-description {
        padding: 32px 16px;
        border: 1px solid var(--cornflower-color);
        border-top: none;
    }

    .portfolio-header {
        color: var(--navy-blue-color);
        font-weight: var(--third-heading-weight);
        font-size: var(--third-heading-size);
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }

    .portfolio-paragraph {
        color: var(--slate-color);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .overlay-box {
        position: relative;
        overflow: hidden;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--iris-color);
        color: var(--cloud-color);
        font-family: Roboto;
        line-height: 1.5;
        letter-spacing: 0.32px;
        padding: 40px 32px;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-link:hover .overlay,
    .portfolio-link:focus .overlay {
        transform: translateY(0%);
    }
}

/* tablet styles */

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .header-layout {
        display: flex;
        justify-content: space-around;
    }

    .menu-toggle {
        display: none;
    }

    .menu-container {
        display: none;
    }

    .navigation {
        padding: 0;
    }

    .page-navigation {
        display: flex;
        gap: 40px;
    }

    .page-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        display: inline-block;
        padding: 24px 0;
        position: relative;
    }

    .page-link-studio::after {
        content: "";
        display: block;
        background-color: var(--ocean-color);
        height: 4px;
        border-radius: 2px;
        position: absolute;
        width: 100%;
        bottom: -1px;
        left: 0px;
    }

    .page-link-portfolio::after {
        content: "";
        display: block;
        background-color: var(--ocean-color);
        height: 4px;
        border-radius: 2px;
        position: absolute;
        width: 100%;
        bottom: -1px;
        left: 0px;
    }

    .address-list {
        font-style: normal;
        display: flex;
        gap: 12px;
        flex-direction: column;
        margin: 16px 0;
    }

    .address-link {
        color: var(--slate-color);
        display: block;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.48px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
        color: var(--ocean-color);
    }

    .footer-section {
        padding: 96px 0;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        column-gap: 24px;
        row-gap: 72px;
        max-width: 550px;
    }

    .footer-note-box {
        display: block;
        margin-bottom: 0;
    }

    .footer-note {
        max-width: 264px;
        margin-top: 16px;
    }

    .social-media-heading {
        text-align: left;
    }

    .footer-social-media {
        margin-bottom: 0;
    }

    .subscribe-title {
        text-align: left;
    }

    .subscribe-form {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 24px;
    }

    .subscribe-input {
        width: 264px;
    }

    .order-section {
        height: 436px;
        padding: 112px 0;
    }

    .main-header {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 1.12px;
        max-width: 500px;
        margin-bottom: 36px;
    }

    .services-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        flex-basis: calc((100% - 24px) / 2);
        columns: 2;
        column-gap: 24px;
        row-gap: 72px;
    }

    .services-item {
        max-width: 356px;
    }

    .small-header-services {
        text-align: left;
    }

    .third-section {
        display: none;
    }

    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 24px;
        row-gap: 72px;
        columns: 2;
        flex-basis: calc((100% - 24px) / 2);
        padding-left: 108px;
    }

    .clients-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 72px;
        flex-basis: calc((100% - 48px) / 3);
    }

    .client-icon-box {
        width: 168px;
        height: 88px;
    }

    .portfolio-main-section {
        padding: 64px 0;
    }

    .filter-list {
        padding-left: 91px;
        margin-bottom: 64px;
    }

    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        flex-basis: calc((100% - 24px) / 2);
    }

    .portfolio-item {
        max-width: 356px;
    }
}

/* computer screen styles */

@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    }

    .section {
        padding: 120px 0;
    }

    .header-layout {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-toggle {
        display: none;
    }

    .menu-container {
        display: none;
    }

    .navigation {
        display: flex;
        padding: 0;
    }

    .address-list {
        font-style: normal;
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
        display: inline;
        margin: 24px 0;
    }

    .footer-section {
        padding: 100px 0;
    }

    .footer-container {
        flex-wrap: nowrap;
        justify-content: space-around;
        gap: 0;
        margin-left: auto;
        max-width: 1158px;
    }

    .footer-note-box {
        margin-right: 120px;
    }

    .subscribe-title {
        text-align: left;
        margin-left: 80px;
    }

    .subscribe-form {
        margin-left: 80px;
        gap: 24px;
    }

    .order-section {
        max-width: 1440px;
        height: 600px;
        padding: 188px 0;
    }

    .main-header {
        margin-bottom: 48px;
    }

    .services-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 24px;
    }

    .services-item {
        display: block;
        gap: 8px;
        flex-basis: calc((100% - 72px) / 4);
    }

    .services-icon-box {
        background-color: var(--cloud-color);
        border-radius: 4px;
        width: 264px;
        height: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }

    .small-header-services {
        text-align: left;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--navy-blue-color);
        font-size: var(--third-heading-size);
        font-weight: var(--third-heading-weight);
        margin-bottom: 8px;
    }

    .third-section {
        display: block;
        padding-top: 0;
    }

    .third-section-list {
        display: flex;
        gap: 24px;
    }

    .third-section-item {
        flex-basis: calc((100% - 48px) / 3);
    }

    .team-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
        flex-basis: calc((100% - 72px) / 4);
        padding-left: 0;
    }

    .portfolio-main-section {
        padding: 96px 0 120px 0;
    }

    .filter-list {
        justify-content: center;
        margin-bottom: 72px;
    }

    .portfolio-list {
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-item {
        flex-basis: calc((100% - 48px) / 3);
    }
}