<section class="section-header">
    <nav class="Navigation">
        <div class="LogoWraper">
          <a href="">
            <svg class="icon-header icon-film">
                <use href="./images/icon.svg#icon-film"></use>
            </svg>
        </a>
          <span class="LogoTitle">Filmoteka</span>
        </div>
    
        <ul class="List">
          <li><a href="" class="Link">Home</a></li>
          <li><a href="" class="Link Current">My library</a></li>
        </ul>
      </nav>
    <div class="search-container">
        <input class="input-header" type="text" placeholder="Movie search">
        <button type="submit"><svg class="svg-header" width="20" height="20">
            <use href="./images/icon.svg#icon-search"></use>
        </svg></button>
      </div>
</section>